{{ template "layout.html" . }}
{{ define "content" }}

					<!-- Header -->
						<header id="header">
							<div>Details</div>
						</header>

					<!-- Section -->
						<section>
							<div class="inner">
								<header>
									<h1>Details</h1>
								</header>
								<p>This blog is currently a bit experimental, as an excuse for me to learn GoLang.</p>
								<p>It's hosted on AWS and implemented in Go using the BeeGo framework.</p>
								<h2>Software</h2>
								<p>Coming back soon.</p>
								<section class="columns double">
									<div class="column">
										<span class="image left special"><img src="static/img/drone.jpg" alt="" /></span>
										<h3>Drone Stuff</h3>
										<p>
										Also coming soon.
										</p>
									</div>
									<div class="column">
										<span class="image left special"><img src="static/img/cv.jpg" alt="" /></span>
										<h3>Curriculum Vitae</h3>
										<p>
										<a href="/static/TomGilbertCV.pdf">Tom Gilbert's CV</a>
										</p>
									</div>
								</section>
							</div>
						</section>
{{ end }}
